    <!DOCTYPE html>
    <html>
	<head>
	    <meta charset="utf-8">
	    <title>Login</title>
        <style>

        </style>
            {% load static %}
        <link rel="stylesheet" href="{% static "hello/file.css" %}" type="text/css">


        {% load static %}
        <img src="{% static "hello/flat,550x550,075,f.u3.jpg" %}" alt="My image">
	</head>

	<body>
        <p>
            {% load static %}
        <link rel="stylesheet" href="{% static "hello/font.css" %}" type="text/css">
        Welcome to Space Castronaut
        </p>

	</body>
    </html>
